# Path
export PATH=$PATH:/usr/bin
export PATH=$PATH:/usr/lib
# Library
export PATH=$PATH:$HOME/Library/npm/bin
export PATH=$PATH:$HOME/Library/play-2.1.5
export PATH=$PATH:$HOME/Library/activator-1.2.8
export PATH=$PATH:$HOME/Library/neo4j-community-2.1.2/bin
# NodeJS environment variable
export NODE_ENV=development
