# Path
export PATH=$PATH:/usr/bin

# Utils I may have written
export PATH=$PATH:$HOME/Developer/utils

# Google Cloud Utils
export PATH=$PATH:$HOME/Developer/gcutil

# Redis
export PATH=$PATH:$HOME/Developer/redis/src

# NodeJS environment variables
export NODE_ENV=development
